body{
    overflow-y: hidden;
}


.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
    height: 900px;
    
    
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
    
    
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
    
}
#img{
    margin-top: -20px;
    
}
section{
    height: 83.5%;
    width:100%;
    background-image:url("11.PNG");
    background-size:contain;
    display:none;
}


#button{
   
    height: 250px;
    width: 500px;
    margin-top: 300px;
    
}

#button:hover{
    cursor: pointer;
}

    